<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
  <div class="ion-padding">
    <ion-list *ngIf="location">
      <ion-item>
        <ion-label>latitude: {{ location.coords.latitude }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>longitude: {{ location.coords.longitude }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-button color="primary" (click)="getLocation()">go</ion-button>
</ion-content>
